:host {
  .mat-card-title {
    background: orange;
  }
}

.mat-card {
  padding: 0px 0px 16px 0px;
}
.mat-card-title,.mat-card-content{
  padding: 10px 15px;
}
.mat-grid-list{
  width: 100%;
}
.buttonColor{
  background:orange;
  color:white;
}